@media (max-width: 1200px)
    .container
        max-width: 960px
    .top
        &-news
            &__item
                padding: 25px 0 30px 15px
            &__image
                padding-right: 15px
            &__title
                font-size: 14px


@media (max-width: 992px)
    .container
        max-width: 700px
    .navbar
        &-top
            &__image
                margin-left: 0
                margin-right: 0
            &__down
                &-right
                    flex-direction: column
                    align-items: flex-end
            &__date
                margin: 0
            &__sun
                margin-right: 5px
            &__slogan
                max-width: 132px
        &-menu
            &__item
                font-size: 12px

    .subscribe
        &__mr-5
            margin-right: 25px
    .top
        &-news
            &__border
                display: none
            &__title
                font-size: 16px
            &__block
                justify-content: space-around
                flex-wrap: wrap

@media (max-width: 768px)
    .container
        max-width: 562px
        width: 92%
    .subscribe
        display: none
    .login
        display: none
        &__item
            display: flex
            margin-top: 10px
            margin-bottom: 10px
        &__title
            color: inherit
    .navbar
        &-top
            &__right
                align-items: center
            &__date
                max-width: 100px
                text-align: right
            &__down
                &-left
                    display: none
        &__wrapper
            display: none
            position: fixed
            left: 0
            right: 0
            bottom: 0
            top: 50px
            &--visible
                display: block
        &-menu
            flex-direction: column
            align-items: center
            &__item
                margin-bottom: 12px
                &--hidden
                    display: block
        &__search
            margin-left: 0
            &--hidden
                display: none
            &--visible
                display: flex
                width: 230px
    .search
        &__input
            padding: 10px 5px
            border-radius: 5px
            width: 100%

@media (max-width: 576px)
    .navbar
        &-top
            &__date
                font-size: 12px
            &__temp
                font-size: 12px
    .top
        &-news
            &__title
                font-size: 12px
            &__item
                padding: 10px 0 5px 0
                flex-direction: column-reverse
                flex-basis: 50%
            &__image
                padding: 0

/** @media (min-width: 320px) and (max-width: 450px) **/
            

/** @media (max-width: 576px) and (orientation: landscape) **/