@media (max-width: 1200px)
    .container
        max-width: 960px
    .container-mini
        max-width: 816px
    .top
        &-news
            &__item
                padding: 25px 0 30px 15px
            &__image
                padding-right: 15px
            &__title
                font-size: 14px
                width: 130px
    .tabs
        &__title
            padding: 10px 25px
        &__item
            padding: 10px 25px
        &__content
            width: 710px
        &__bg
            height: 100%
            width: 100%
        &__author
            &--pb-145
                padding-bottom: 80px
        &__description
            &--pb-40
                padding-bottom: 20px
    .card
        &-grid
            grid-gap: 10px
        &-one
            &__right
                min-width: 200px
            &__title
                margin-bottom: 15px
            &__bottom
                padding: 10px 10px
            &__name
                font-size: 12px
            &__comment
                font-size: 12px
        &-two
            &__wrapper
                padding: 0 10px 25px 25px
        &-three
            &__title
                padding: 10px 25px
            &__wrapper 
                padding: 0 18px 0 18px
        &-four
            &__title
                padding: 15px
        &-quote
            &__margin
                margin-top: 22px
            &__author
                display: flex
                padding-bottom: 22px
        &-info
            &__title
                font-size: 15px
            &__wrapper
                padding: 20px
        &-bottom
            &__top
                padding: 15px 0 15px 20px
            &__one
                &-title
                    font-size: 22px
                    max-width: 216px
                &::before
                    display: none
            &__right
                display: flex
                flex-basis: 50%
                padding: 15px 10px 0 0
    .paragraph
        &__text
            font-size: 16px
            max-width: 530px
        &__first
            &:first-letter
                font-size: 60px
                line-height: 59px
                padding-top: 0px
                padding-right: 5px
    .quote
        &__title
            font-size: 20px
            line-height: 26px
            width: 375px

@media (max-width: 992px)
    .container
        max-width: 700px
    .container
        &-mini
            max-width: 700px
    .navbar
        &-top
            &__image
                margin-left: 0
                margin-right: 0
            &__down
                &-right
                    flex-direction: column
                    align-items: flex-end
            &__date
                margin: 0
            &__sun
                margin-right: 5px
            &__slogan
                max-width: 132px
        &-menu
            &__item
                font-size: 12px

    .subscribe
        &__mr-5
            margin-right: 25px
    .top
        &-news
            &__border
                display: none
            &__title
                font-size: 16px
                width: 200px
            &__block
                justify-content: space-around
                flex-wrap: wrap
            &__item
                padding: 15px 0 15px 15px
    .tabs
        &__margin
            margin-top: -220px
        &__content
            width: 500px
        &__bg
            object-fit: cover
        &__slider
            &-wrapper
                padding-top: 30px
                padding-left: 20px
                padding-bottom: 35px
        &__slide
            &-title
                font-size: 25px
        &__description
            &--pb-40
                padding-bottom: 0
        &__author
            &--pb-145
                padding-bottom: 110px
        &__title
            font-size: 10px
        &__category
            font-size: 10px
            margin-bottom: 2px
        &__item
            font-size: 12px
            padding: 9px 10px
    .card
        padding-bottom: 45px
        &-one 
            grid-column: 1 / 4
            grid-row: 1 / 2
            &__description
                font-size: 13px
            &__title
                font-size: 18px
        &-two
            grid-column: 1 / 3
            grid-row: 2 / 3
        &-three
            grid-row: 2 / 5
            grid-column: 3 / 5
        &-four
            grid-column: 4 / 5
            grid-row: 1 / 2
        &-five
            grid-row: 3 / 4
            grid-column: 1 / 3
        &-six
            grid-row: 4 / 5
            grid-column: 1 / 3
        &-seven 
            grid-row: 5 / 6
            grid-column: 1 / 3
        &-eight
            grid-row: 5 / 6
            grid-column: 3 / 5
        &-quote
            &__title
                font-size: 18px
        &-bottom
            &__one
                grid-row: 1 / 3
                grid-column: 1 / 5
                justify-content: space-between
                &-title
                    max-width: 325px
                &::before
                    top: 10px
            &__five
                grid-column: 3 / 5
                grid-row: 4 / 5
            &__six
                grid-row: 3 / 4
                grid-column: 3 / 5
            &__two
                grid-row: 1 / 3
                grid-column: 1 / 3
            &__top
                padding: 20px 0 20px 20px
            &__title
                font-size: 23px
            &__link
                margin-bottom: 50px
           
    .preview
        &-left
            &__wrapper
                display: flex
                flex-direction: column-reverse
                align-items: center
            &__description
                padding-left: 0
                padding-bottom: 15px
            &__text
                padding-bottom: 5px
        
    .swiper-container
        grid-row: 3 / 5
        grid-column: 1 / 3
        &__two-page
            height: 500px

    .footer
        &-top
            &__item
                font-size: 12px
        &-bottom
            &__item
                padding-right: 23px
                font-size: 12px
            &__image
                padding-right: 15px
            &__icon
                padding-left: 5px
        &-copyright
            &__text
                font-size: 11px
                &--left
                    max-width: 480px
    .thankyou
        &__title
            font-size: 25px
    .hero
        &-container
            &__title
                font-size: 35px
                line-height: 54px
    .paragraph
        &__title
            font-size: 20px
            margin-top: 25px
            margin-bottom: 20px
        &-right
            width: 190px
            &__avatar
                width: 60px
                height: 60px
            &__name
                font-size: 16px
            &__hobby
                font-size: 12px
                line-height: 5px
            &__counter
                margin-bottom: 15px
            &__text
                font-size: 14px
                max-width: 495px
                margin-bottom: 15px
            &__title
                font-size: 14px
    .quote
        &__size
            margin-top: 50px
            margin-bottom: 35px
        &__title
            font-size: 18px
            width: 360px
            margin-right: 25px
        &__name
            font-size: 16px

@media (max-width: 768px)
    .container
        max-width: 562px
        width: 92%
    .container
        &-mini
            max-width: 515px
            width: 92%
    .subscribe
        display: none
    .login
        display: none
        &__item
            display: flex
            margin-top: 10px
            margin-bottom: 10px
        &__title
            color: inherit
    .navbar
        &__mobile
            background: $White
            &--fixed
                position: fixed
                left: 0
                right: 0
                top: 0
                z-index: 99
        &-top
            &__down
                &--mt-50
                    margin-top: 50px
            &__right
                align-items: center
            &__date
                max-width: 100px
                text-align: right
            &__down
                &-left
                    display: none
        &__wrapper
            display: none
            position: fixed
            left: 0
            right: 0
            bottom: 0
            top: 50px
            z-index: 1
            &--visible
                display: block
                z-index: 100
        &-menu
            flex-direction: column
            align-items: center
            &__item
                margin-bottom: 12px
                &--hidden
                    display: block
        &__search
            margin-left: 0
            &--hidden
                display: none
            &--visible
                display: flex
                width: 280px
    .search
        &__button
            margin-right: 10px
        &__input
            padding: 10px 5px
            border-radius: 5px
            width: 100%
    .top
        &-news
            &__item
                padding: 10px 0 10px 10px
            &__title
                font-size: 12px
                width: 155px
            &__image
                padding-left: 10px
    .tabs
        &__slider
            &-wrapper
                padding-right: 20px
        &__margin
            flex-direction: column-reverse
            margin-top: -250px
            width: 100%
        &__ul
            display: flex
        &__button
            border-radius: 10px 10px 0 0
        &__content
            width: 100%
            border-radius: 0 0 10px 10px
        &__title
            text-align: center
            font-size: 14px
        &__item
            border: 1px solid transparent
            width: 100%
            padding: 9px 0
            justify-content: center
            &--active
                border: 1px solid $Grey-50
                border-bottom-color: transparent
                &::before
                    display: none
        &__category
            font-size: 13px
            text-align: center
        &__span
            display: none
    .modal
        &__dialog
            width: 518px
            padding: 33px 45px
    .card
        padding-bottom: 40px
        &-one
            grid-column: 1 / 5
            grid-row: 1 / 2
        &-two
            grid-row: 6 / 7
        &-four
            grid-column: 3 / 5
            grid-row: 6 / 7
            &__image
                width: 100%
        &-three
            grid-row: 2 / 6
        &-five 
            grid-row: 2 / 3
        &-six 
            grid-row: 3 / 4
            grid-column: 1 / 3
        &-seven 
            grid-row: 4 / 5
        &-eight
            grid-column: 1 / 3
        &-bottom
            padding-top: 40px
            &__one
                &-title
                    max-width: 270px
            &__two
                grid-row: 3 / 4
                grid-column: 1 / 5
                min-height: 340px
            &__six
                grid-row: 2 / 3
    .news
        &-center
            &__text
                font-size: 28px
    .preview
        &-wrapper
            flex-direction: column
            padding-top: 40px
            padding-bottom: 40px
        &-left
            &__margin
                margin-right: 0
                margin-bottom: 20px
        &-right
            max-width: inherit
    .swiper-container
        grid-row: 3 / 5
        grid-column: 1 / 5
    .newsletter
        &__title
            font-size: 32px
        &__wrapper
            padding-top: 40px
            padding-bottom: 40px
    .footer
        &-top
            flex-wrap: wrap
            padding-bottom: 15px
            &__menu
                &--news
                    width: 50%
                &--arts
                    width: 50%
                &--travel
                    width: 50%
                &--sports
                    width: 50%
                &--tech
                    width: 50%
                &--moneys
                    width: 50%
        &-bottom
            flex-direction: column
            &__menu
                flex-direction: column
            &__image
                padding-right: 0
                padding-bottom: 15px
            &__list
                padding-bottom: 15px
            &__item
                font-size: 10px
        &-copyright
            padding-top: 10px
            padding-bottom: 15px
            &__text
                font-size: 10px
                &--left
                    max-width: 390px
    .thankyou
        &__title
            font-size: 18px
    .hero
        &-container
            &__title
                font-size: 24px
                line-height: 30px
            &__description
                font-size: 16px
                margin-bottom: 40px
    .paragraph
        padding-top: 30px
        padding-bottom: 30px
        &-wrapper
            flex-direction: column-reverse
        &-right
            width: 100%
            margin-top: auto
            margin-bottom: 15px
            &__avatar
                margin-top: 10px
                margin-bottom: 10px
            &__social
                padding-bottom: 10px
            &__description
                font-size: 12px
            &__image
                width: 263px
                height: 180px
        &__text
            font-size: 16px
            margin-bottom: 10px
    .slider
        &-title
            font-size: 12px
            padding-left: 10px
        &-author
            padding-left: 10px
            padding-right: 10px
        &-name
            font-size: 12px

@media (max-width: 576px)
    .navbar
        &-top
            &__date
                font-size: 12px
            &__temp
                font-size: 12px
    .top
        &-news
            &__title
                font-size: 12px
                text-align: center
            &__item
                padding: 10px 0 5px 0
                flex-direction: column-reverse
                flex-basis: 50%
            &__image
                padding: 0
    .tabs
        &__margin
            margin-top: -170px
        &__slide
            &-title
                font-size: 18px
                line-height: normal
        &__link
            width: 120px
            padding: 10px
        &__slider
            &-wrapper
                
        &__description
            &--pb-40
                padding-bottom: 25px
        &__name
            font-size: 12px
    .read
        &-more
            &__tabs
                justify-content: space-between
                flex-direction: column-reverse
                align-items: end
                min-height: 105px
    .modal
        &__dialog
            width: 400px
            padding: 42px 25px
    .card
        padding-bottom: 35px
        &-one
            &__title
                font-size: 15px
                margin-top: 10px
                margin-bottom: 10px
            &__top
                padding: 0px 0 10px 15px
            &__description
                font-size: 12px
            &__bottom
                padding: 5px 5px
            &__avatar
                margin-right: 5px
            &__name
                font-size: 11px
            &__comment
                margin-left: 5px
                margin-right: 5px
                font-size: 11px
        &-two 
            grid-row: 4 / 5
            grid-column: 1 / 5
            &__wrapper
                padding: 20px 10px 20px 25px
        &-three
            grid-row: 2 / 4
            grid-column: 1 / 5
        &-four
            grid-row: 5 / 6
            grid-column: 1 / 5
            display: flex
            align-items: center
            overflow: hidden
            &__wrapper
                flex-basis: 100%
                height: 250px
            &__image
                width: 100%
                height: 100%
                object-fit: cover
        &-five
            grid-row: 6 / 7
            grid-column: 1 / 5
        &-six
            grid-row: 7 / 8
            grid-column: 1 / 5
        &-seven
            grid-row: 8 / 9
            grid-column: 1 / 5
        &-eight
            grid-row: 9 / 10
            grid-column: 1 / 5
        &-bottom
            padding-top: 35px
            padding-bottom: 35px
            &__two
                grid-row: 2 / 4
            &__five
                grid-row: 3 / 4
            &__six
                grid-row: 4 / 5
            &__right
                max-width: 210px
                min-width: 0
    .news
        &-center
            &__text
                font-size: 24px
                line-height: 30px
    .preview
        &-wrapper
            padding-top: 35px
            padding-bottom: 35px
    .swiper-container
        grid-row: 2 / 3
        &__two-page
            height: 320px
    .newsletter
        &__wrapper
            padding-top: 30px
            padding-bottom: 35px
        &__title
            font-size: 25px
        &__form
            display: flex
            flex-direction: column
            justify-content: space-between
            height: 95px
        &__input
            margin-right: 0
    .footer
        &-copyright
            flex-direction: column
    .thankyou
        &__title
            font-size: 16px
    .paragraph
        &-tags
            flex-wrap: wrap
            justify-content: center
            &__link
                padding: 5px 20px
                margin-bottom: 8px
        &__support
            display: flex
            flex-direction: column
            align-items: center
    .quote
        flex-direction: column
        &__author
            display: flex
            align-items: center
            padding-top: 10px
        &__avatar
            width: 60px
            height: 60px
            margin-right: 10px
            margin-bottom: 0
        &__size
            margin-top: 20px
            margin-bottom: 20px
            &::before
                top: -5px
                left: -5px
                width: 40px
                height: 40px
        &__title
            font-size: 16px
    .hero
        &-container
            padding-top: 30px
            padding-bottom: 30px
            &__top
                align-items: flex-start
                flex-direction: column
            &__category
                margin-bottom: 10px
            &__button
                align-items: flex-start
                flex-direction: column
                width: 100%
            &__back
                margin-right: 0
                margin-bottom: 20px
            &__wrapper
                display: flex
                align-items: center
                justify-content: space-between
                width: 100%
            &__title
                font-size: 18px
            &__description
                font-size: 13px
    .counter
        align-items: flex-start
        flex-direction: column
        &-wrapper
            display: flex
            padding-bottom: 20px
        

@media (min-width: 320px) and (max-width: 450px)
    .top
        &-news
            &__title
                width: 124px
                line-height: 20px
    .tabs
        &__read-more
            display: flex
            align-items: normal
            flex-direction: column-reverse
        &__video
            margin-bottom: 10px
        &__margin
            margin-top: -150px
    .modal
        &__dialog
            width: 281px
            padding: 42px 15px
    .card
        padding-bottom: 30px
        &-one
            &__top
                display: flex
                flex-direction: column
                padding: 10px
            &__bottom
                display: flex
                flex-direction: column
            &__avatar
                margin: 0
            &__comment
                margin: 0
            &__right
                display: none
            &__left
                padding: 0 20px 0 10px
            &__image
                width: 60%
        &-quote
            &__title
                font-size: 14px
        &-three
            &__title
                padding: 10px 25px
                text-align: center
        &-bottom
            &__one
                flex-direction: column
                &-title
                    max-width: 290px
            &__right
                display: none
            &__description
                width: auto
    .news
        &-center
            &__wrapper
                padding-top: 40px
                padding-bottom: 40px
            &__text
                font-size: 16px
                line-height: 25px
    .preview
        &-wrapper
            padding-top: 30px
            padding-bottom: 30px
        &-left
            &__logo
                min-width: inherit
                min-height: auto
            &__title
                font-size: 16px
    .newsletter
        &__wrapper
            padding-top: 20px
            padding-bottom: 30px
        &__title
            font-size: 18px
            margin-bottom: 15px
        &__input
            width: auto
        &__form
            width: 100%
    .footer
        &-bottom
            &__list
                display: flex
                flex-wrap: wrap
                justify-content: space-around
            &__item
                padding-right: 0
                padding-bottom: 10px
                width: 35%
            &__icon
                padding-left: 0
    .thankyou
        &__title
            text-align: center
    .quote
        &__title
            font-size: 14px
            width: auto
    .slider
        &-button
            width: 60px
            height: 60px
            &--prev
                left: 15px
            &--next
                right: 15px
        &-info
            flex-direction: column
            align-items: flex-start
        &-author
            border-left: none


@media (max-width: 768px) and (orientation: landscape)
    .scroll
        &-hidden
            overflow: hidden
    .navbar
        &__wrapper
            &--visible
                overflow-y: scroll
    .modal
        &__dialog
            &--visible
                width: 470px
                height: 300px
                overflow-y: scroll

@media (orientation: portrait)
    .scroll
        &-hidden
            overflow: hidden