$font-lato: 'Lato', sans-serif
$font-roboto: 'Roboto Slab', serif
$Grey-05: #F5F5F5
$Grey-15: #D9DADB
$Grey-50: #939699
$Grey-85: #4B5157
$Grey-95: #30363D
$Grey-100: #262D33
$White: #FFFFFF
$bg-color: #E5E5E5
$Blue-75: #4592FF

// Цвета категорий
$Bluegreen-75: #3BBDC4
$Greyblue-75: #6E99AE
$Purple-75: #AC8EE3
$Orange-75: #FFA34D
$Green-75: #3DC47E
